
  /* Paleta de colores */
  :root {
    --primary-color: #64B5F6;   /* Azul Suave */
    --secondary-color-1: #c3d8c4;   /* Verde Oliva */
    --secondary-color-2: #546E7A;   /* Beige Cálido */
    --neutral-color-light: #F0F4C3; /* Blanco Roto */
    --neutral-color-dark: #546E7A;  /* Gris Oscuro Suave */
    --white-color: #FFFFFF;        /* Blanco */
}

body {
    background-color: var(--neutral-color-light);
    color: var(--neutral-color-dark);
}

/* App.css */
.app-header {
    background-color: var(--secondary-color-1);
    padding: 20px;
    text-align: center;
}

.app-footer {
    background-color: var(--neutral-color-light);
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

.custom-navbar {
    background-color: var(--secondary-color-1);
    color: var(--white-color) !important;
}

.custom-navbar .nav-link {
    color: var(--white-color) !important;
    transition: all 0.3s ease;
    margin: 0 5px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: nowrap;
}

.custom-navbar .nav-link:hover {
    background-color: var(--secondary-color-2);
}

.active-link {
  background-color: var(--secondary-color-2);
}


.navbar-brand-custom {
    flex: 0 0 auto;
    margin-right: 1rem;
}

/*  Ejemplo para botones */
.btn-primary {
    background-color: var(--secondary-color-1);
    border-color: var(--secondary-color-1);
    color: var(--neutral-color-dark);
}

.btn-primary:hover {
    background-color: darken(var(--secondary-color-1), 10%);
    border-color: darken(var(--secondary-color-1), 10%);
}

/* Ejemplo para tarjetas */
.card {
    background-color: var(--white-color);
    border: 1px solid var(--neutral-color-light);
}

.card h2, h3 {
    color: var(--neutral-color-dark);
}
.imagen-responsiva {
    width: 100%;
    height: auto;
    max-width: 300px; /* Default max-width for larger screens */
    object-fit: cover;
  }
  
  /* Media query for small mobile devices (portrait) */
  @media (max-width: 320px) {
    .imagen-responsiva {
      max-width: 100%; /* Full width on very small mobile devices */
    }
  
    .d-flex {
      flex-direction: column; /* Stack the layout on very small mobile devices */
    }
  }
  
  /* Media query for mobile devices */
  @media (min-width: 321px) and (max-width: 599px) {
    .imagen-responsiva {
      max-width: 100%; /* Full width on mobile devices */
    }
  
    .d-flex {
      flex-direction: column; /* Stack the layout on mobile devices */
    }
  }
  
  /* Media query for tablets */
  @media (min-width: 600px) and (max-width: 899px) {
    .imagen-responsiva {
      max-width: 50%; /* Allow the image to take up half the width on tablets */
    }
  
    .d-flex {
      flex-direction: row; /* Ensure the layout is side by side on tablets */
    }
  }
  
  /* Media query for small laptops */
  @media (min-width: 900px) and (max-width: 1199px) {
    .imagen-responsiva {
      max-width: 40%; /* Adjust the image width for small laptops */
    }
  
    .d-flex {
      flex-direction: row; /* Side by side layout on small laptops */
    }
  }
  
  /* Media query for large laptops and desktops */
  @media (min-width: 1200px) {
    .imagen-responsiva {
      max-width: 30%; /* Adjust the image width for large laptops and desktops */
    }
  
    .d-flex {
      flex-direction: row; /* Side by side layout on large laptops and desktops */
    }
  }