/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Merriweather:wght@300;700&display=swap');

/* Paleta de colores */
:root {
  --brand-color: #00796B;
  /* Verde Esmeralda (color principal de la marca) */
  --navbar-background-color: #004D40;
  /* Azul Oscuro (fondo de la barra de navegación) */
  --link-hover-color: #80CBC4;
  /* Verde Suave (color de los enlaces al pasar el ratón) */
  --background-color-light: #E0F2F1;
  /* Verde Claro (fondo general de la página) */
  --text-color-dark: #263238;
  /* Gris Oscuro (color del texto principal) */
  --white-color: #FFFFFF;
  /* Blanco (color de fondo de las tarjetas, texto en la barra de navegación) */
  --banner-background-color: #4a9e5c;
  /* Verde para el fondo del banner */
  --note-text-color: #777;
  /* Color para las notas */
}

/* Estilos generales del body */
body {
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 100%
}

/* Estilos de encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}
a{
  color: var(--navbar-background-color);
}

/* Estilos del header del banner */
.banner-header {
  background-color: var(--banner-background-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: left;
  width: 100%;
 
}

/* Estilos del título principal (h1) en el banner */
.banner-header h1 {
  font-size: 2rem;
  /* Tamaño de fuente inicial */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

/* Estilos del párrafo en el banner */
.banner-header p {
  font-size: 1rem;
  margin: 0;
  
  /* Oculto en pantallas pequeñas */
}

/* Estilos del footer */
.app-footer {
  background-color: var(--background-color-light);
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  width: 100%
}

/* Estilos de la barra de navegación */
.custom-navbar {
  background-color: var(--navbar-background-color);
  color: var(--white-color) !important;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

/* Estilos de los enlaces en la barra de navegación */
.custom-navbar .nav-link {
  color: var(--white-color) !important;
  transition: all 0.3s ease;
  margin: 0 5px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  white-space: nowrap;
}

/* Estilos de los enlaces al pasar el ratón */
.custom-navbar .nav-link:hover {
  background-color: var(--link-hover-color);
}


/* Estilos del enlace activo */
.active-link {
  background-color: var(--link-hover-color);
}

/* Estilos del botón de alternancia (toggler) */
.navbar-toggler {
  color: var(--white-color);
  background-color: var(--white-color);
  margin-left: 1rem;
}

/* Estilos del logo en la barra de navegación */
.navbar-brand-custom {
  flex: 0 0 auto;
  margin-right: 1rem;
}

/* Estilos de las tarjetas */
.card {
  background-color: var(--white-color);
  border: 1px solid var(--background-color-light);
  font-family: 'Poppins', sans-serif;
}

/* Estilos de los títulos dentro de las tarjetas */
.card h2,
h3 {
  color: var(--text-color-dark);
}

/* Estilos de las imágenes responsivas */
.imagen-responsiva {
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
}

/* Estilos para la tabla responsiva */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Estilos para las tarjetas de precios */
.pricing-cards .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.pricing-cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.pricing-cards .card-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.pricing-cards .card-subtitle {
  font-size: 1.25rem;
  color: #28a745;
  margin-bottom: 15px;
}

.pricing-cards .card-text {
  color: #6c757d;
}

/* Mantener los estilos existentes para la tabla de precios */
.pricing-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.pricing-table th,
.pricing-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pricing-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.pricing-table tr:hover {
  background-color: #f5f5f5;
}

/* Estilo para la nota final */
.note {
  font-size: 0.9rem;
  /* Tamaño de fuente más pequeño */
  color: var(--note-text-color);
  /* Color de texto más tenue */
  margin-top: 1rem;
  /* Espacio superior */
  text-align: left;
}

/* Media queries */

/* Dispositivos móviles */
@media (min-width: 215px) and (max-width: 599px) {
  .imagen-responsiva {
    max-width: 100%;
    /* Ancho completo en dispositivos móviles */
  }
  .banner-header h1 {
    font-size: 1.1rem;
    text-align: center;
  }
  .banner-header p {    
    display: none;
    /* Oculto en pantallas pequeñas */
  }

  /* No es necesario cambiar la dirección del flex aquí a menos que haya un diseño específico */
}

/* Tablets */
@media (min-width: 600px) and (max-width: 899px) {
  .imagen-responsiva {
    max-width: 50%;
    /* Mitad del ancho en tablets */
  }
  .banner-header h1 {
    font-size: 1rem;
  }
  /* No es necesario cambiar la dirección del flex aquí a menos que haya un diseño específico */
}

/* Laptops pequeñas */
@media (min-width: 900px) and (max-width: 1199px) {
  .imagen-responsiva {
    max-width: 40%;
    /* 40% del ancho en laptops pequeñas */
  }
  .banner-header h1 {
    font-size: 1rem;
  }
  /* No es necesario cambiar la dirección del flex aquí a menos que haya un diseño específico */
}

/* Laptops grandes y escritorios */
@media (min-width: 1200px) {
  .imagen-responsiva {
    max-width: 30%;
    /* 30% del ancho en laptops grandes y escritorios */
  }
  .banner-header h1 {
    font-size: 1.5rem;
  }
  /* No es necesario cambiar la dirección del flex aquí a menos que haya un diseño específico */
}