body {
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
